@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Pathway+Gothic+One&family=Raleway:wght@200;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&family=Urbanist:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar-track {
  background: gray;
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px thin gray;
}

.swiper-pagination-bullet {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 9999px;
    border-width: 2px;
    border-color: #6b7280;
    width: 5rem;
    height: 0.75rem;
    background-color: #eec373 !important;
}

.swiper-button-next {
    margin-top: 0px;
    position: absolute;
    top: 50%;
    color: blue;
    z-index: 100;
    right: -10px;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
}
.swiper-button-prev {
    position: absolute;
    top: 50%;
    left: -10px;
    color: blue;
    z-index: 100;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
    margin-top: 0px;
}

.bg-color-of-card {
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    transparent
  );
}

/* Menu  */

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 10;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #000000;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 9;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  /* color: #000000; */
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0dff04
}